@model Game

@{
    Player CurrentPlayer = Model.Players[Model.PlayerTurn];
}

@* Coppers *@
<div class="mr-3">
    @* Count *@
    <div>
        <h3 class="mb-0">(@Model.BasicCards.Where(c => c.Title == "Copper").ToList().Count Left)</h3>
    </div>
    @* Image *@
    <div class="d-inline-block align-top">
    @{
        if(CurrentPlayer.TreasureValueTotal >= 0
        && CurrentPlayer.Buys > 0 
        && Model.BasicCards.Where(c => c.Title == "Copper").ToList().Count > 0)
        {
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Copper" asp-route-cardType="Treasure">
                <button class="card-glow round-corners">
                    <img style="width: 120px" src="~/images/DominionCopper.png" alt="Copper" class="">
                </button>
            </form>
        }
        else
        {
            <img style="width: 130px" src="~/images/DominionCopper.png" alt="Copper" class="round-corners"> 
        }
    }
    </div>
    @* Buy Button *@
    @* <div>
        @if(CurrentPlayer.TreasureValueTotal >= 0
            && CurrentPlayer.Buys > 0 
            && Model.BasicCards.Where(c => c.Title == "Copper").ToList().Count > 0){
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Copper" asp-route-cardType="Treasure" class="d-inline">
                <button class="btn btn-warning">Buy</button>
            </form>
        }    
    </div> *@
</div>

@* Silvers *@
<div class="mr-3">
    @* Count *@
    <div>
        <h3 class="mb-0">(@Model.BasicCards.Where(c => c.Title == "Silver").ToList().Count Left)</h3>
    </div>
    @* Image *@
    <div class="d-inline-block align-top">
    @{
        if(CurrentPlayer.TreasureValueTotal >= 3
        && CurrentPlayer.Buys > 0 
        && Model.BasicCards.Where(c => c.Title == "Silver").ToList().Count > 0)
        {
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Silver" asp-route-cardType="Treasure">
                <button class="card-glow round-corners">
                    <img style="width: 120px" src="~/images/DominionSilver.png" alt="Silver">
                </button>
            </form>
        }
        else
        {
            <img style="width: 130px" src="~/images/DominionSilver.png" alt="Silver" class="round-corners"> 
        }
    }
    </div>
</div>

@* Golds *@
<div class="mr-3">
    @* Count *@
    <div>
        <h3 class="mb-0">(@Model.BasicCards.Where(c => c.Title == "Gold").ToList().Count Left)</h3>
    </div>
    @* Image *@
    <div class="d-inline-block align-top">
    @{
        if(CurrentPlayer.TreasureValueTotal >= 6
        && CurrentPlayer.Buys > 0 
        && Model.BasicCards.Where(c => c.Title == "Gold").ToList().Count > 0)
        {
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Gold" asp-route-cardType="Treasure">
                <button class="card-glow round-corners">
                    <img style="width: 120px" src="~/images/DominionGold.png" alt="Gold">
                </button>
            </form>
        }
        else
        {
            <img style="width: 130px" src="~/images/DominionGold.png" alt="Gold" class="round-corners"> 
        }
    }
    </div>
</div>

@* Estates *@
<div class="mr-3">
    @* Count *@
    <div>
        <h3 class="mb-0">(@Model.BasicCards.Where(c => c.Title == "Estate").ToList().Count Left)</h3>
    </div>
    @* Image *@
    <div class="d-inline-block align-top">
    @{
        if(CurrentPlayer.TreasureValueTotal >= 2
        && CurrentPlayer.Buys > 0 
        && Model.BasicCards.Where(c => c.Title == "Estate").ToList().Count > 0)
        {
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Estate" asp-route-cardType="Victory">
                <button class="card-glow round-corners">
                    <img style="width: 120px" src="~/images/DominionEstate.png" alt="Estate">
                </button>
            </form>
        }
        else
        {
            <img style="width: 130px" src="~/images/DominionEstate.png" alt="Estate" class="round-corners"> 
        }
    }
    </div>
</div>

@* Duchys *@
<div class="mr-3">
    @* Count *@
    <div>
        <h3 class="mb-0">(@Model.BasicCards.Where(c => c.Title == "Duchy").ToList().Count Left)</h3>
    </div>
    @* Image *@
    <div class="d-inline-block align-top">
    @{
        if(CurrentPlayer.TreasureValueTotal >= 5
        && CurrentPlayer.Buys > 0 
        && Model.BasicCards.Where(c => c.Title == "Duchy").ToList().Count > 0)
        {
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Duchy" asp-route-cardType="Victory">
                <button class="card-glow round-corners">
                    <img style="width: 120px" src="~/images/DominionDuchy.png" alt="Duchy">
                </button>
            </form>
        }
        else
        {
            <img style="width: 130px" src="~/images/DominionDuchy.png" alt="Duchy" class="round-corners"> 
        }
    }
    </div>
</div>

@* Provinces *@
<div class="mr-3">
    @* Count *@
    <div>
        <h3 class="mb-0">(@Model.BasicCards.Where(c => c.Title == "Province").ToList().Count Left)</h3>
    </div>
    @* Image *@
    <div class="d-inline-block align-top">
    @{
        if(CurrentPlayer.TreasureValueTotal >= 8
        && CurrentPlayer.Buys > 0 
        && Model.BasicCards.Where(c => c.Title == "Province").ToList().Count > 0)
        {
            <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Province" asp-route-cardType="Victory">
                <button class="card-glow round-corners">
                    <img style="width: 120px" src="~/images/DominionProvince.png" alt="Province">
                </button>
            </form>
        }
        else
        {
            <img style="width: 130px" src="~/images/DominionProvince.png" alt="Province" class="round-corners"> 
        }
    }
    </div>
</div>