@model Game

@{
    Player CurrentPlayer = Model.Players[Model.PlayerTurn];
    var CPDiscardPile = CurrentPlayer.DiscardPile.ToList();
}

@{
    ViewData["Title"] = @CurrentPlayer.Name + "'s Turn!";
}


<body class="bg-secondary">
<div class="row"><div class="col">

    @* Player Info*@
    <div class="row">
        <div class="col-md-6 text-center mb-2">
            <div class="border border-dark d-inline-block p-3 bg-dark rounded">
                <h3 class="mt-0 mb-0 text-white"> Player: @CurrentPlayer.Name, VP: @CurrentPlayer.TotalVP</h3>
            </div>
        </div>
        @* Current Player Turn Stats *@
        <div class="col-md-6 text-center mb-2">
            <div class="border border-dark d-inline-block p-3 bg-dark rounded">
                <h3 class="mt-0 mb-0 text-white"> Actions: @CurrentPlayer.Actions, Buys: @CurrentPlayer.Buys, Treasure Total: @CurrentPlayer.TreasureValueTotal</h3>
            </div>
        </div>
    </div>

    @* Field *@
    <div class="row">

        @* Field Cards *@
        <div class="col-md-8 text-center ml-5">
            
            @* Treasure & Victory Cards *@
            <div class="row">
                @* Coppers *@
                <img style="width: 100px" src="~/images/DominionCopper.png" alt="Copper"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.BasicCards.Where(c => c.Title == "Copper").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.BasicCards.FirstOrDefault(c => c.Title == "Copper").Cost && CurrentPlayer.Buys > 0 && Model.BasicCards.Where(c => c.Title == "Copper").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Copper" asp-route-cardType="Treasure" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }            
                </div>

                @* Silvers *@
                <img style="width: 100px" src="~/images/DominionSilver.png" alt="Silver"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.BasicCards.Where(c => c.Title == "Silver").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.BasicCards.FirstOrDefault(c => c.Title == "Silver").Cost && CurrentPlayer.Buys > 0 && Model.BasicCards.Where(c => c.Title == "Silver").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Silver" asp-route-cardType="Treasure" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }
                </div>

                @* Golds *@
                <img style="width: 100px"  src="~/images/DominionGold.png" alt="Gold" > 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.BasicCards.Where(c => c.Title == "Gold").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.BasicCards.FirstOrDefault(c => c.Title == "Gold").Cost && CurrentPlayer.Buys > 0 && Model.BasicCards.Where(c => c.Title == "Gold").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Gold" asp-route-cardType="Treasure" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }
                </div>

                @* Estates *@
                <img style="width: 100px" src="~/images/DominionEstate.png" alt="Estate"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.BasicCards.Where(c => c.Title == "Estate").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.BasicCards.FirstOrDefault(c => c.Title == "Estate").Cost && CurrentPlayer.Buys > 0 && Model.BasicCards.Where(c => c.Title == "Estate").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Estate" asp-route-cardType="Victory" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }
                </div> 

                @* Duchys *@
                <img style="width: 100px" src="~/images/DominionDuchy.png" alt="Duchy"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.BasicCards.Where(c => c.Title == "Duchy").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.BasicCards.FirstOrDefault(c => c.Title == "Duchy").Cost && CurrentPlayer.Buys > 0 && Model.BasicCards.Where(c => c.Title == "Duchy").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Duchy" asp-route-cardType="Victory" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }
                </div>

                @* Provinces *@
                <img style="width: 100px" src="~/images/DominionProvince.png" alt="Province"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.BasicCards.Where(c => c.Title == "Province").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.BasicCards.FirstOrDefault(c => c.Title == "Province").Cost && CurrentPlayer.Buys > 0 && Model.BasicCards.Where(c => c.Title == "Province").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Province" asp-route-cardType="Victory" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }
                </div>
            </div>
            
            @* Action Cards *@
            <div class="row">
                @* Village *@
                <img style="width: 100px" src="~/images/DominionVillage.png" alt="Village"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.KingdomCards.Where(c => c.Title == "Village").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.KingdomCards.FirstOrDefault(c => c.Title == "Village").Cost && CurrentPlayer.Buys > 0 && Model.KingdomCards.Where(c => c.Title == "Village").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Village" asp-route-cardType="Action" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }            
                </div>

                @* Smithy *@
                <img style="width: 100px" src="~/images/DominionSmithy.png" alt="Smithy"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.KingdomCards.Where(c => c.Title == "Smithy").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.KingdomCards.FirstOrDefault(c => c.Title == "Smithy").Cost && CurrentPlayer.Buys > 0 && Model.KingdomCards.Where(c => c.Title == "Smithy").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Smithy" asp-route-cardType="Action" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }            
                </div>

                @* Festival *@
                <img style="width: 100px" src="~/images/DominionFestival.png" alt="Festival"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.KingdomCards.Where(c => c.Title == "Festival").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.KingdomCards.FirstOrDefault(c => c.Title == "Festival").Cost && CurrentPlayer.Buys > 0 && Model.KingdomCards.Where(c => c.Title == "Festival").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Festival" asp-route-cardType="Action" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }            
                </div>

                @* Market *@
                <img style="width: 100px" src="~/images/DominionMarket.png" alt="Market"> 
                <div class="d-inline-block p-2 bg-danger rounded mr-3">
                    <h3 class="mb-0">@Model.KingdomCards.Where(c => c.Title == "Market").ToList().Count</h3>
                    @if(CurrentPlayer.TreasureValueTotal >= Model.KingdomCards.FirstOrDefault(c => c.Title == "Market").Cost && CurrentPlayer.Buys > 0 && Model.KingdomCards.Where(c => c.Title == "Market").ToList().Count > 0){
                        <form asp-controller="Home" asp-action="Buy" method="POST" asp-route-cardTitle="Market" asp-route-cardType="Action" class="d-inline">
                            <button class="btn btn-warning">Buy</button>
                        </form>
                    }            
                </div>

            </div>
        </div>

        @* InPlay *@
        <div class="col-md-3"  style="border: 2px solid black">
            <h4>@CurrentPlayer.InPlay.Count Cards played this turn</h4>
            @for (int i = 0; i < CurrentPlayer.InPlay.Count; i++)
            {
                Card card = CurrentPlayer.InPlay[i];
                <div class="d-inline-block">
                    <img style="width: 70px" src="~/images/Dominion@(card.Title).png" alt="@(card.Title)">
                </div>
            }
        </div>
    </div>

    @* Player Cards *@
    <div class="row mt-4 ml-5">
        @* Discard and Deck*@
        <div class="col-md-2">
            <div class="d-inline-block">
                <h3 class="text-center">Discard (@CurrentPlayer.DiscardPile.Count)</h3>

                @if(CPDiscardPile.Count > 0){
                    <img style="width: 100px" src="~/images/Dominion@(CPDiscardPile[CPDiscardPile.Count-1].Title).png" alt="Back">
                }
                else{
                    <div style="width: 100px; height: 150px" class="border border-dark d-inline-block align-middle"></div>
                }   
            </div>
        </div>
        <div class="col-md-1 mr-5">
            <div class="d-inline-block">
                <h3 class="text-center">Deck (@CurrentPlayer.Deck.Count)</h3>
                <img style="width: 100px" src="~/images/DominionBack.png" alt="Back">                
            </div>
        </div>

        @* Current Player hand *@
        <div class="text-center">
            <h3>Hand (@CurrentPlayer.Hand.Count)</h3>
            @for (int i = 0; i < CurrentPlayer.Hand.Count; i++)
            {
                Card card = CurrentPlayer.Hand[i];
                <div class="d-inline-block align-top">
                    <img style="width: 100px" src="~/images/Dominion@(card.Title).png" alt="@(card.Title)">
                    @if(card.Type == "Treasure"){
                        <form asp-controller="Home" asp-action="Play" method="POST" asp-route-HandIndex=@i>
                            <button class="btn btn-warning">Play</button>
                        </form>
                    }
                    @if(card.Type == "Action" && @CurrentPlayer.Actions>0){
                        <form asp-controller="Home" asp-action="Play" method="POST" asp-route-HandIndex=@i>
                            <button class="btn btn-warning">Play</button>
                        </form>
                    }

                </div>
            }
        </div>
    </div>

    @* Command Buttons. Fix eventually to show up only when appropriate. *@
    <div class="row mt-4 ml-5">
        <form asp-controller="Home" asp-action="PlayAllTreasures" method="POST">
            <button class="btn btn-warning mx-3">Play All Treasures</button>
        </form>
        <form asp-controller="Home" asp-action="EndTurn" method="POST">
            <button class="btn btn-warning">End Turn</button>
        </form>
    </div> 
    
    @* Ragequit Button *@
    <div class="d-flex justify-content-end">
        <a class="btn btn-danger text-center mr-3" asp-controller="Home" asp-action="GameComplete">End Game</a>
    </div>
</div></div>
</body>
